.card_holder{
    width:300px;
    height: 400px;
    background: white;
    margin-bottom: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.card_holder:hover{
    width:300px;
    height: 400px;
    margin-bottom: 50px;
    margin-right: 20px;
    background: gainsboro;
    cursor: pointer;
}
.card_image{
    height: 300px;
    width: 100%;
    object-fit: none;
    cursor: pointer;
}
.card_image:hover{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.card_title{
    text-align: left;
    height: 40px;
    overflow: hidden;
    margin-left: 10px;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.button_info{
    padding: 30px ;
    color: tomato;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}
.button_info:hover{
    color: tomato;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}
.date{
text-align: left;
    margin-left: 10px;
}
