.card_holder {
  width: 290px;
  height: 320px;
  border: solid 3px chocolate;
  color: white;
  margin-top: 80px;
  margin-right: 20px;
  cursor: pointer;
  background: chocolate;
  transition-duration: 500ms;
  overflow: hidden;
}
.card_holder:hover {
  margin-top: 20px;
  width: 290px;
  height: 380px;
  margin-right: 20px;
  border: solid 3px gainsboro;
  background: gainsboro;
  cursor: pointer;
  color: black;
}

.card_image {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.card_title {
  text-align: left;
  height: 40px;
  overflow: hidden;
  padding-left: 10px;
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: black;
  text-decoration: none;
}
.link_holder {
  text-decoration: none;
  color: black;
}

.date {
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
}
.category {
  padding-left: 10px;
  font-size: 20px;
  text-align: left;
}
